* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(100deg, #2e006f 0%, #92005f 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-number {
    color: #fff;
    font-weight: bold;
    padding-right: 80px;
    margin-bottom: -20px;
    display: flex;
    justify-content: end;
    text-shadow: 2px 2px 5px black;

}

.quiz-container {
    background-color: #292929;
    color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 70px rgba(142, 142, 142, 0.963);
    width: 600px;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #008b9e;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #017a8a;
}

button:focus {
    outline: none;
    background-color: #318f1a;
}